
body {
  margin-left: 50px;
  margin-right: 50px;
  background-color: #eeeeee;

}

@media only screen and (max-width: 600px) {
  body {
    background-color: #eeeeee;
  }
}
#header{
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    width: 100%;
}

.header-img {
    width: 250px;
    height: 50px;
}

.navbar{
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin:  auto 100px;
}
.nav-links{
  display: flex;
  gap: 40px;
}
.nav-link{
  font-size: larger;
  text-decoration: none;
  color: #000;
  font-family: 'Lato', sans-serif;
}

#hero-section {
  text-align: center;
  /* font-size: bold; */
    font-family: 'Lato', sans-serif;
    margin-top: 50px;

}
.email-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email-input{
  width: 300px;
  padding-top:10px ;
  padding-bottom:10px ;
  margin-bottom: 20px;
}
.form-button{
  background-color: #f3bf0c;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
    font-weight: bolder;
    font-size: large;
margin-bottom: 100px;
width: fit-content;
}
.fa{
  color: darkorange;
}
.features-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-bottom: 60px;
}
.description-block  h2,p{
  margin: 0;
      font-family: 'Lato', sans-serif;

}
#hero-section{
  display: flex;
  flex-direction: column;
}


#how-it-works{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

iframe{
  height: 315px;
  width: 560px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

#video > iframe{
  max-width: 560px;
  width: 100%;
}
.product{
  
  display: flex;
  flex-direction: column;
   
  gap: 20px;
  border :  1px solid #000;
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
    overflow: hidden;

}
.level{
  padding:20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bolder;
  background-color: #f3bf0c;
}
.product-block{
   display: flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;
}
li{
  list-style: none;
  margin-bottom: 10px;
}
ol{
  margin: 0;
  padding: 0;
}
.product-btn{
  background-color: #f3bf0c;
  padding: 10px 20px;
  border: 0;
  font-weight: 400;
  font-size: 1em;
  margin: 15px;
}
#pricing{
   display: flex;
   flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}